/* Cải thiện giao diện giỏ hàng */
#giohang {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1.5rem;
}



.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.product-item .product-info {
    flex: 1;
}

.product-item .product-info h6 {
    margin: 0;
    font-size: 16px;
}

.product-item .product-info .price {
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px) {
    .product-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

.footer {
    background-color: #343a40;
}
.imageproduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
   margin-bottom: 10px;
}
 
.loadercart {
    width: 60px;
  height: 60px;
  display: flex;
  position: fixed; 
  top: 50%; 
  left: 50%; 
 
  justify-content: center;
  align-items: center;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}