
.review {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.review strong {
  font-size: 1.1rem;
}

.review .fa-star {
  font-size: 1rem;
}

.comment-area {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.rating-container {
  display: flex;
  align-items: center; 
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.rating-title {
  margin-right: 20px; 
  font-size: 1.5rem; 
  text-align: left;
  flex-shrink: 0; 
}

.rating-stars {
  display: flex;
  align-items: center; 
}

.rating-stars .fa-star {
  font-size: 2rem; /* Kích thước sao lớn hơn */
  cursor: pointer;
  color: #f39c12; /* Màu sao */
  transition: color 0.2s; /* Hiệu ứng chuyển màu khi hover */
}

.rating-stars .fa-star:hover {
  color: #e67e22; /* Màu khi hover vào sao */
}

@media only screen and (max-width: 768px) {
  .rating-container {
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
  .rating-title{
    display: none;
  }

}


/* #cart-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  #cart-icon i {
    font-size: 24px;
    color: #333;
  }
  
  #cart-count {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background-color: #ff5733; 
    color: #fff; 
    border-radius: 50%; 
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  

  #cart-icon:hover #cart-count {
    background-color: #333; 
    transform: scale(1.2); 
  } */

  
/* CSS cho footer */
/* 
.nav-link:hover {
  background-color: rgb(209, 209, 209);
}
@media only screen and (max-width: 768px) {
  .sell{
      display: none;
  }

}
ul li a{

  text-decoration: none;
color: aliceblue;

}
ul li{
  margin-top: 12px;
  list-style: none;
}
.icon_footer a{
  color: aliceblue;
}
@media screen and (min-width:989px){
 .navbar-nav{
  margin-right: 30px;
 }
}
.nav-link:focus, .nav-link:hover {
  background-color: rgb(209, 209, 209);
  color: aliceblue;
} */

/* .iconGioHang{
  margin-top: 15px;
} */