.feedback-container {
  padding: 50px 15px;
  background-color: #f9f9f9;
}

.feedback-header {
  text-align: center;
  margin-bottom: 30px;
}

.feedback-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.feedback-intro {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.feedback-form-container {
  display: flex;
  justify-content: center;
}

.feedback-form {
  max-width: 100%;
  min-height: 1600px;
  border: none;
}
/* HTML: <div class="loader"></div> */

.loader {
  width: 60px;
  height: 60px;
  display: flex;
  position: fixed; /* Sử dụng fixed để luôn hiển thị ở giữa màn hình, ngay cả khi cuộn */
  top: 50%; /* Căn chỉnh theo chiều dọc */
  left: 50%; /* Căn chỉnh theo chiều ngang */
  transform: translate(-50%, -50%); 
  justify-content: center;
  align-items: center;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: 
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  100% { transform: rotate(1turn) }
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
@keyframes l8 {
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 768px) {
  .feedback-form {
    height: 1400px;
  }

  .feedback-title {
    font-size: 2rem;
  }

  .feedback-intro {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .feedback-form {
    height: 1200px;
  }

  .feedback-title {
    font-size: 1.75rem;
  }

  .feedback-intro {
    font-size: 0.9rem;
  }
}
